    <div class="Rw">
        <% for (let i = 0; i < posts.length; i=i+1) { %>
           <div class="Col">
              <a href="/post/<%= posts[i]._id %>">
                <img src="./images/uploads/<%= posts[i].image %>" class="card-img-top post" value="<%=posts[i]%>" alt="Post Image" style="max-width: 100%;">
              </a>
            </div>
        <% } %>
    </div>
    </div>
  </body>
</html>
