
    <div class="lg-container">
        <div class="content">
          <!--pinterest logo-->
          <p class="header">Welcome to cinePins</p>
          <form action="/register" method="post">
            <input type="email" name="email" placeholder="Email" class="detail" /><br />
            <input type="text" name="username" placeholder="Username" class="detail" /><br />
            <input type="text" name="fullname" placeholder="Fullname" class="detail" /><br />
            <input type="password" name="password" placeholder="Password" class="detail" />    
            <button class="login-btn int" type="submit">Sign Up</button>
            
          </form>
          <p class="or">OR</p>
          <div class="fbk">
            <i
              class="fa-brands fa-facebook"
              style="color: blue; padding-right: 10px; font-size: 19px;"
            ></i>
            <a href="#" style="color: black;">Continue with Facebook</a>
          </div><br />
          <div class="btn ggl">

            <i
              class= "fa-brands fa-google"
              style="color: rgb(11, 241, 22); padding-right: 10px; font-size: 19px;"
            ></i
            ><a href="#">Continue with Google</a>
          </div>
  
          <footer>
            <p>
              By continuing, you agree to cinePins's
              <b>Terms of Service, Privacy policy.</b>
            </p>
            <hr />
            <p>Have an account already? <a href="/login">Sign in</a></p>
          </footer>
        </div>
      </div>
      <div class="upbtn">Sign in</div>
</body>
</html>